{% load static %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'evaluate/css/main.css' %}">
    </head>
    <body>
        <header class="top-bar">
            <ul class="top-bar-left menu">
                <li><a href="{% url 'contest_list' %}">WikiGrade</a></li>
                <li><a href="{{ project.url }}">{% trans "About" %}</a></li>
                <li><a href="{{ project.issues }}">{% trans "Report Bug" %}</a>
            </ul>
            <nav class="top-bar-right">
                {% if user.is_authenticated %}
                    <span class="username">{{ user }}</span> (<a href="{% url 'logout' %}">{% trans "logout" %}</a>)
                {% else %}
                    <ul class="menu">
                        <li><a href="{% url 'social:begin' 'mediawiki' %}">{% trans "Login with Wikimedia" %}</a></li>
                    </ul>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% block main %}
        {% endblock %}
    </body>
</html>
