{% extends 'evaluate/content.html' %}
{% load i18n %}
{% block content %}
        <h2>{% trans "Contests" %}</h2>
        <div class="contest-list">
        {% for contest in contests %}
            <div class="contest card">
                <div class="card-divider">
                    <h3 class="contest-title">{{ contest.title }}</h3>
                </div>
                <div class="card-section">
                    <p>{{ contest.start_date }} — {{ contest.end_date }}</p>
                    <p><span class="label">{% trans "Home wiki" %}:</span> {{ contest.wiki }}</p>
                    <div>
                        {% if contest.ready_for_evaluation %}
                            <a href="{% url 'contest_evaluate' contest.id %}" class="button contest-articles-link">{% trans "Articles" %} ({{ contest.articles.count }})</a>
                            <a href="{% url 'contest_progress' contest.id %}" class="button hollow">{% trans "Progress" %}</a>
                            <a href="{% url 'contest_result' contest.id %}" class="button hollow">{% trans "Results" %}</a>
                        {% else %}
                            <a href="{% url 'contest_supervise' contest.id %}" class="button contest-articles-link">{% trans "Supervise" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
