{% extends "evaluate/content.html" %}
{% load i18n %}
{% block content %}
    <h1>{% blocktrans %}Progress in {{ contest }}{% endblocktrans %}</h1>
    <section class="contest-progress">
        {% include "evaluate/progress.html" %}
        <p>
            {% blocktrans trimmed %}
                Reviewed {{ done }} of {{ total }} contributions, including {{ disqualified }} disqualified.
            {% endblocktrans %}
        </p>
    </section>
    <section>
        <h2>{% trans "Reviewers" %}</h2>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Reviewer" %}</th>
                    <th>{% trans "Evaluated contributions" %}</th>
                    <th>{% trans "Evaluated by others" %}</th>
                    <th>{% trans "Disqualified" %}</th>
                </tr>
            </thead>
            {% for reviewer in reviewers_progress %}
                <tr>
                    <td>{{ reviewer.username }}</td>
                    <td>
                        {% blocktrans trimmed with done=reviewer.done assigned=reviewer.assigned %}
                            {{ done }} of {{ assigned }}
                        {% endblocktrans %}
                    </td>
                    <td>{{ reviewer.by_others }}</td>
                    <td>{{ reviewer.disqualified }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
