{% extends "evaluate/content.html" %}
{% load i18n %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="callout {{ message.tags }}">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{% blocktrans with contest=contest.title %}Contributions in {{ contest }}{% endblocktrans %}</h2>
    <ul class="tabs">
        {% block tabs %}
        {% endblock %}
    </ul>
    {% block list %}
    {% endblock %}
{% endblock %}
