{% load i18n %}
{% load el_pagination_tags %}
<ul class="article-list tabs-content tabs-panel">
    {% paginate contribs %}
    {% for c in contribs %}
        <li {% if c.disqualified %}class="disqualified"{% endif %}>
            <span class="article">
                <a href="{{ c.preview_url }}">{{ c.article }}</a>
            </span>
            <span class="contributor">
                {{ c.username }} <span class="delta">({{ c.delta }})</span>
            </span>
            <span class="scores">
                {% for score in c.scores.all %}
                    <span class="score">
                        <a href="{% url 'score_detail' score.id %}"><span class="reviewer">{{ score.reviewer }}</span>: <span class="score-value">{{ score }}</span></a>
                    </span>
                {% endfor %}
            </span>
            <span class="actions">
                {% include actions_template %}
            </span>
        </li>
    {% endfor %}
</ul>
<nav class="pagination">
    {% show_pages %}
</nav>
