{% extends "evaluate/contribution_list.html" %}n
{% load i18n %}
{% block tabs %}
    <li class="tabs-title"><a href="{% url 'contest_evaluate' contest.id %}">{% trans "Unevaluated" %}</a></li>
    <li class="tabs-title"><a href="{% url 'contest_evaluate' contest.id %}?tab=evaluated">{% trans "Evaluated" %}</a></li>
    <li class="tabs-title"><a href="{% url 'contest_evaluate' contest.id %}?tab=disqualified">{% trans "Disqualified" %}</a></li>
    {% if user_is_reviewer %}
        <li class="tabs-title aside {% if only_mine %}is-active{% endif %}"><a href="{{ request.path }}?only_mine=1">{% trans "Assigned to me" %}</a></li>
        <li class="tabs-title aside {% if not only_mine %}is-active{% endif %}"><a href="{{ request.path }}?only_mine=0">{% trans "All" %}</a></li>
    {% endif %}
{% endblock %}
{% block list %}
    {% include "evaluate/contribs_rows_base.html" with actions_template="evaluate/contrib_evaluate_actions.html" %}
{% endblock %}
