{% extends "evaluate/contribution_list.html" %}
{% load i18n %}
{% block tabs %}
    <li class="tabs-title"><a href="{% url 'contest_supervise' contest.id %}">{% trans "Unseen" %}</a></li>
    <li class="tabs-title"><a href="{% url 'contest_supervise' contest.id %}?tab=seen">{% trans "Seen" %}</a></li>
{% endblock %}
{% block list %}
    {% include "evaluate/contribs_rows_base.html" with actions_template="evaluate/contrib_supervise_actions.html" %}
{% endblock %}
