{% load i18n wiki_links %}
<a class="button hollow" href="{{ c | comment_on_wiki_link }}">{% trans "Comment" %}</a>
<form action="{% url 'contrib_seen' c.id %}" method="POST">
    {% csrf_token %}
    {% with "button" as classes %}
        {% if tab == 'unseen' %}
            <button class="{{ classes }}"
                    name="seen" value="1">{% trans "Mark as seen" %}</button>
        {% else %}
            <button class="{{ classes }}"
                    name="seen">{% trans "Mark as unseen" %}</button>
        {% endif %}
    {% endwith %}
</form>
