{% extends 'evaluate/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}
{% block main %}
    <section id="article_evaluation">
        <section class="article-grading">
            <section class="article-info" class="{% if warnings %}alert{% endif %}">
                <dl>
                    {% if contribs %}
                    <div>
                        <dt>{% trans "Contributions" %}:</dt>
                        <dd>
                            <ul>
                                {% for c in contribs %}
                                    <li {% if c == contribution %}class="current-contribution"{% endif %}>{{ c }}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </div>
                    {% endif %}
                    {% if warnings %}
                    <dt>
                        {% trans "Warnings" %}:
                    </dt>
                    <dd class="warnings">
                        <ul>
                            {% for warning in warnings %}
                                <li>{{ warning }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                    {% endif %}
                </dl>
            </section>
            <div id="grade_article">
                <ul class="tabs" data-tabs id="form-tabs">
                    <li class="tabs-title is-active"><a href="#evaluate-form">{% trans "Evaluate" %}</a></li>
                    <li class="tabs-title"><a href="#disqualify-form">{% trans "Disqualify" %}</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="form-tabs">
                    <div class="tabs-panel is-active" id="evaluate-form">
                        <form method="POST" action="{% url 'article_evaluation' contribution.id %}">
                            {% csrf_token %}
                            {{ evaluate_form.as_ul }}
                            <input type="submit" class="button" value="{% trans 'Submit' %}" name="submit-evaluate"></input>
                        </form>
                    </div>
                    <div class="tabs-panel" id="disqualify-form">
                        <form method="POST" action="{% url 'article_evaluation' contribution.id %}">
                            {% csrf_token %}
                            {{ disqualify_form.as_ul }}
                            <input type="hidden" name="disqualify_form" value="true" />
                            <input class="button alert" type="submit" value="{% trans 'Submit' %}" name="submit-disqualify"></input>
                            {% if contribution.disqualified %}
                                <input class="button success" type="submit" value="{% trans 'Undisqualify' %}" name="submit-undisqualify" formnovalidate></input>
                            {% endif %}
                        </form>
                    </div>
                </div>
        </section>
        <div class="article-preview">
            <iframe src="{{ contribution.preview_url }}"></iframe>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'evaluate/js/bundle.js' %}"></script>
{% endblock %}
