{% extends "evaluate/content.html" %}
{% load i18n %}
{% block content %}
    <div class="score-view">
        <h1>
            {% blocktrans trimmed with article=score.contribution.article url=score.contribution.preview_url %}
                Score for "<a href="{{ url }}">{{ article }}</a>"
            {% endblocktrans %}
        </h1>
        <section class="score-summary">
            <table>
                <thead>
                    <th>{% trans "Reviewer" %}</th>
                    <th>{% trans "Contribution" %}</th>
                    <th>{% trans "Score" %}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ score.reviewer }}</td>
                        <td>{{ score.contribution }}</td>
                        <td><span class="score-value">{{ score }}</span></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="score-details">
            <h2>{% trans "Score details" %}</h2>
            <table class="stack">
                {% for field in fields %}
                    <tr>
                        <td>{{ field.verbose_name|default:field.name }}</td>
                        <td>
                            {% if field.value is True %}
                                ✓
                            {% elif field.value is False %}
                                x
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}
